.Cnt{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 12px;
    &:hover{
        background-color: #2a2a2a;
    }
    cursor: pointer;
}
.online-indicator {
  position: absolute;
  bottom: 8px;
  right: 15px;
  width: 14px;
  height: 14px;
  background-color: #22c55e; /* green */
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
